<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2><%= title %></h2>
  <form action="/update" method="post">
    <input type="hidden" value="<%= writer.writer_id %>" name="writer_id">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Name" value="<%= writer.name %>" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">Phone:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter phone" value="<%= writer.phone %>" name="phone" required>
    </div>
    <div class="form-group">
        <label for="email">Residence:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter residence" value="<%= writer.residence %>" name="residence" required>
    </div>
    <div class="form-group">
      <label for="phone">Tasks Handled:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Enter Tasks Handled" value="<%= writer.tasks_handled %>" name="tasks_handled" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>